.carousel-item img{max-width:1080px;margin-left:auto;margin-right: auto;}
.carousel-control-prev-icon{background-image: url('../../images/btn_pre.png');width:18px;height:18px;}
.carousel-control-next-icon{background-image: url('../../images/btn_next.png');width:18px;height:18px;}
.carousel-indicators{height:8%;}
.carousel-caption{color:#000;display: flex;justify-content: center;}
p a{width:100%;height:100%;}