.carousel-item img{max-width:1080px;margin-left:auto;margin-right: auto;}
.carousel-item a img{width:120px;margin-bottom: 5px;}
.carousel-control-prev-icon{background-image: url('../../images/btn_pre.png');}
.carousel-control-next-icon{background-image: url('../../images/btn_next.png');}
.carousel-indicators{height:8%;}
.carousel-caption{color:#000;display: flex;justify-content: center;}
p a{width:100%;height:100%;}

.change-img1 {
      content: url(../../images/institutional/1.png);
    }
@media screen and (max-width: 1080px) {
    .change-img1 {
      content: url(../../images/institutional/1.png);
    }
}
.change-img2 {
      content: url(../../images/institutional/1.png);
    }
@media screen and (max-width: 1080px) {
    .change-img2 {
      content: url(../../images/institutional/1.png);
    }
}
.change-img3 {
      content: url(../../images/institutional/1.png);
    }
@media screen and (max-width: 1080px) {
    .change-img3 {
      content: url(../../images/institutional/1.png);
    }
}
.change-img4 {
      content: url(../../images/institutional/1.png);
    }
@media screen and (max-width: 1080px) {
    .change-img4 {
      content: url(../../images/institutional/1.png);
    }
}
.change-img5 {
      content: url(../../images/institutional/1.png);
    }
@media screen and (max-width: 1080px) {
    .change-img5 {
      content: url(../../images/institutional/1.png);
    }
}
.change-img6 {
      content: url(../../images/institutional/1.png);
    }
